<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
  <title>Tinder++</title>

  <script src="//cdnjs.cloudflare.com/ajax/libs/lodash.js/2.4.1/lodash.min.js"></script>
  <script src="//cdnjs.cloudflare.com/ajax/libs/moment.js/2.8.3/moment.min.js"></script>
  <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.3.2/angular.min.js"></script>
  <script src="//cdnjs.cloudflare.com/ajax/libs/restangular/1.4.0/restangular.min.js"></script>
  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
  <script src="//cdnjs.cloudflare.com/ajax/libs/mousetrap/1.4.6/mousetrap.min.js"></script>
  <script src="http://maps.googleapis.com/maps/api/js?libraries=places&sensor=false"></script>
  <script src="/swing.js"></script>
  <script src="/ngAutocomplete.js"></script>
  <script src="/app.js"></script>

  <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/normalize/3.0.1/normalize.min.css"/>
  <link href='http://fonts.googleapis.com/css?family=Raleway' rel='stylesheet' type='text/css'>
  <link href='http://fonts.googleapis.com/css?family=Merriweather' rel='stylesheet' type='text/css'>
  <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
  <link rel="stylesheet" href="/app.css"/>
</head>
<body ng-app="tinder++">
  <div class="top-button">
    <div class="button"></div>
  </div>
  <div class="container" ng-controller="TinderController">
    <div ng-show="allPeople.length === 0">Loading...</div>
    <div ng-show="allPeople.length > 0">
      <h1>{{allPeople[peopleIndex].name}}, {{allPeople[peopleIndex].birth_date | bdayToAge}}</h1>
      <h3>{{allPeople[peopleIndex].distance_mi}} miles away</h3>
      <p>
        <input type="text" ng-autocomplete ng-model="autocomplete" options="autocompleteOptions" details="details" />
      </p>
      <p>{{allPeople[peopleIndex].bio || 'No Bio'}}</p>
      <div class="main-photo-container">
        <div class="main-photo tinder-card" ng-repeat="user in allPeople.slice().reverse()" render-images-directive
             style="background-image: url({{user.photos[user.photoIndex].url}});">
          <div class="pass-overlay">
            <i class="fa fa-thumbs-o-down"></i>
          </div>
          <div class="like-overlay">
            <i class="fa fa-thumbs-o-up"></i>
          </div>
        </div>
      </div>
      <div class="small-photos">
        <div ng-repeat="photo in allPeople[peopleIndex].photos">
          <img src="{{photo.processedFiles[2].url}}" ng-click="swapPhoto($index)" data-photo-index="{{$index}}"
               ng-class="{'selected': $index === allPeople[peopleIndex].photoIndex}" />
        </div>
      </div>
    </div>
  </div>
</body>
</html>