* {
    font-family: 'Merriweather', serif;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    user-select: none;
}

h1, h2, h3, h4, h5 {
    font-family: 'Raleway', sans-serif;
}

html, body {
    max-width: 100%;
    max-height: 100%;
    overflow-x: hidden;
}

a {
    color: #db6151;
    text-decoration: none;
}

.right {
    float: right;
    text-align: right;
}

.left {
    float: left;
}

.clear {
    clear: both;
}

.title-bar {
    width: 100%;
    height: 25px;
    background: #f8f8f8; /* Old browsers */
    background: -moz-linear-gradient(top,  #f8f8f8 0%, #e3e3e3 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f8f8f8), color-stop(100%,#e3e3e3)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #f8f8f8 0%,#e3e3e3 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #f8f8f8 0%,#e3e3e3 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #f8f8f8 0%,#e3e3e3 100%); /* IE10+ */
    background: linear-gradient(to bottom,  #f8f8f8 0%,#e3e3e3 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f8f8f8', endColorstr='#e3e3e3',GradientType=0 ); /* IE6-9 */
    z-index: 10001;
    position: fixed;
    -webkit-app-region: drag;
    text-align: center;
    font-family: 'Raleway', sans-serif;
    font-size: 16px;
    line-height: 25px;
}

.title-bar i {
    float: right;
    font-size: 18px;
    padding: 3px 7px 0 0;
    cursor: pointer;
}

.user {
    max-width: 500px;
    margin: 10px auto 0;
    font-family: 'Raleway', sans-serif;
}

.user img {
    width: 40px;
    position: relative;
}

.user .right img {
    top: -9px;
}

.user .left img {
    left: 11px;
    display: block;
}

.user p {
    display: inline-block;
    font-size: 12px;
    top: -10px;
    position: relative;
    text-align: right;
    margin-right: 5px;
}

.top-button {
    max-width: 500px;
    margin: 0 auto;
}

.top-button .button {
    background-color: #FF8271;
    width: 15%;
    height: 7px;
    float: right;
    margin-right: 15%;
    top: -7px;
    position: relative;
}

.container {
    max-width: 500px;
    margin: 0 auto 5px;
    text-align: center;
    border: 4px solid #FF8271;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    border-radius: 50px;
    background-color: #FAFAFA;
    padding: 10px;
}

.container h1 {
    margin-bottom: 0;
}

.container h3 {
    margin: 0 0 20px 0;
}

#autocompleteLocation {
    margin-bottom: 20px;
}

.bio {
    margin: 0 0 15px 0;
}

.bio img {
    height: 22px;
    vertical-align: bottom;
}

.main-photo-container {
    height: 320px;
    position: relative;
    margin-top: 20px;
}

.main-photo {
    text-align: center;
    width: 300px;
    height: 300px;
    display: inline-block;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    overflow: hidden;
    position: absolute;
    left: 50%;
    margin-left: -150px;
    background: #fff top left / contain no-repeat;
    z-index: 1000;
}

.main-photo .pass-overlay {
    color: white;
    position: relative;
    top: 0;
    background: #FF2400;
    height: 100%;
    width: 100%;
    opacity: 0;
    font-size: 10em;
    line-height: 200%;
}

.main-photo .like-overlay {
    color: white;
    position: relative;
    top: -100%;
    background: #2CA624;
    height: 100%;
    width: 100%;
    opacity: 0;
    font-size: 10em;
    line-height: 200%;
}

.main-photo-container img {
    max-width: 400px;
}

.small-photos div {
    display: inline-block;
    padding-right: 5px;
}

.small-photos img {
    width: 120px;
    height: 120px;
    /*max-width: 120px;*/
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    overflow: hidden;
    cursor: pointer;
    border: 5px solid #FAFAFA;
}

.small-photos img.selected {
    border: 5px solid #FF8271;
}

/* facebook login button */
#sign_in {
    background: url('../img/login-sprite.png') no-repeat 0 0;
    width: 340px;
    height: 72px;
    cursor: pointer;
    display: block;
    margin: 20px auto 0;
}

#sign_in:hover {
    background-position-y: -72px;
}

#sign_in:active {
    background-position-y: -144px;
}


/* facebook login */
.fb-login {
    color: #404040;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 10000;
    background-color: #4D4D4D;
    padding-top: 100px;
}

.collapse-text-toggle {
    font-size: 0.9em;
    color: #666666;
    cursor: pointer;
}
.collapse-text-toggle:hover {
    color: #222222;
}
.collapse-text-toggle:before {
    content: '\00a0(';
}
.collapse-text-toggle:after {
    content: ')';
}