* {
    font-family: 'Merriweather', serif;
}

h1, h2, h3, h4, h5 {
    font-family: 'Raleway', sans-serif;
}

html, body {
    max-width: 100%;
    max-height: 100%;
    overflow-x: hidden;
}

.right {
    float: right;
}

.left {
    float: left;
}

.clear {
    clear: both;
}

.user {
    max-width: 500px;
    margin: 20px auto;
}

.user img {
    width: 40px;
}

.user p {
    display: inline-block;
    font-size: 12px;
    top: -10px;
    position: relative;
    text-align: right;
}

.top-button {
    max-width: 500px;
    margin: 20px auto 0;
}

.top-button .button {
    background-color: #FF8271;
    width: 15%;
    height: 7px;
    float: right;
    margin-right: 15%;
    top: -7px;
    position: relative;
}

.container {
    max-width: 500px;
    margin: 20px auto;
    text-align: center;
    border: 4px solid #FF8271;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    border-radius: 50px;
    background-color: #FAFAFA;
    padding: 10px;
}

.container h1 {
    margin-bottom: 0;
}

.container h3 {
    margin: 0 0 20px 0;
}

.bio {
    margin: 0 0 15px 0;
}

.main-photo-container {
    height: 320px;
    position: relative;
}

.main-photo {
    text-align: center;
    width: 300px;
    height: 300px;
    display: inline-block;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    overflow: hidden;
    position: absolute;
    left: 50%;
    margin-left: -150px;
    background: #fff top left / contain no-repeat;
    z-index: 1000;
}

.main-photo .pass-overlay {
    color: white;
    position: relative;
    top: 0;
    background: #FF2400;
    height: 100%;
    width: 100%;
    opacity: 0;
    font-size: 10em;
    line-height: 200%;
}

.main-photo .like-overlay {
    color: white;
    position: relative;
    top: -100%;
    background: #2CA624;
    height: 100%;
    width: 100%;
    opacity: 0;
    font-size: 10em;
    line-height: 200%;
}

.main-photo-container img {
    max-width: 400px;
}

.small-photos div {
    display: inline-block;
    padding-right: 5px;
}

.small-photos img {
    max-width: 150px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    overflow: hidden;
    cursor: pointer;
    border: 5px solid #FAFAFA;
}

.small-photos img.selected {
    border: 5px solid #FF8271;
}