* {
    font-family: 'Merriweather', serif;
}

h1, h2, h3, h4, h5 {
    font-family: 'Raleway', sans-serif;
}

html, body {
    max-width: 100%;
    max-height: 100%;
    overflow-x: hidden;
}

.right {
    float: right;
}

.left {
    float: left;
}

.clear {
    clear: both;
}

.user {
    max-width: 500px;
    margin: 20px auto;
}

.user img {
    width: 40px;
}

.user p {
    display: inline-block;
    font-size: 12px;
    top: -10px;
    position: relative;
    text-align: right;
}

.top-button {
    max-width: 500px;
    margin: 20px auto 0;
}

.top-button .button {
    background-color: #FF8271;
    width: 15%;
    height: 7px;
    float: right;
    margin-right: 15%;
    top: -7px;
    position: relative;
}

.container {
    max-width: 500px;
    margin: 20px auto;
    text-align: center;
    border: 4px solid #FF8271;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    border-radius: 50px;
    background-color: #FAFAFA;
    padding: 10px;
}

.container h1 {
    margin-bottom: 0;
}

.container h3 {
    margin: 0 0 20px 0;
}

.bio {
    margin: 0 0 15px 0;
}

.main-photo-container {
    height: 320px;
    position: relative;
}

.main-photo {
    text-align: center;
    width: 300px;
    height: 300px;
    display: inline-block;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    overflow: hidden;
    position: absolute;
    left: 50%;
    margin-left: -150px;
    background: #fff top left / contain no-repeat;
    z-index: 1000;
}

.main-photo .pass-overlay {
    color: white;
    position: relative;
    top: 0;
    background: #FF2400;
    height: 100%;
    width: 100%;
    opacity: 0;
    font-size: 10em;
    line-height: 200%;
}

.main-photo .like-overlay {
    color: white;
    position: relative;
    top: -100%;
    background: #2CA624;
    height: 100%;
    width: 100%;
    opacity: 0;
    font-size: 10em;
    line-height: 200%;
}

.main-photo-container img {
    max-width: 400px;
}

.small-photos div {
    display: inline-block;
    padding-right: 5px;
}

.small-photos img {
    max-width: 150px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    overflow: hidden;
    cursor: pointer;
    border: 5px solid #FAFAFA;
}

.small-photos img.selected {
    border: 5px solid #FF8271;
}


/* facebook login */
.fb-login {
    color: #404040;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 10000;
    background-color: #4D4D4D;
    padding-top: 100px;
}

.fb-login input, .fb-login textarea, .fb-login select, .fb-login label {
    font: 12px 'Lucida Grande', Verdana, sans-serif;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.fb-login .login {
    font: 12px/20px 'Lucida Grande', Verdana, sans-serif;
    margin: 20px auto;
    padding: 18px 20px;
    width: 200px;
    background: #3f65b7;
    background-clip: padding-box;
    border: 1px solid #172b4e;
    border-bottom-color: #142647;
    border-radius: 5px;
    background-image: -webkit-radial-gradient(cover, #437dd6, #3960a6);
    background-image: -moz-radial-gradient(cover, #437dd6, #3960a6);
    background-image: -o-radial-gradient(cover, #437dd6, #3960a6);
    background-image: radial-gradient(cover, #437dd6, #3960a6);
    -webkit-box-shadow: inset 0 1px rgba(255, 255, 255, 0.3), inset 0 0 1px 1px rgba(255, 255, 255, 0.1), 0 2px 10px rgba(0, 0, 0, 0.5);
    box-shadow: inset 0 1px rgba(255, 255, 255, 0.3), inset 0 0 1px 1px rgba(255, 255, 255, 0.1), 0 2px 10px rgba(0, 0, 0, 0.5);
}

.fb-login .login > h1 {
    font: 12px/20px 'Lucida Grande', Verdana, sans-serif;
    margin-bottom: 20px;
    font-size: 16px;
    font-weight: bold;
    color: white;
    text-align: center;
    text-shadow: 0 -1px rgba(0, 0, 0, 0.4);
}

.fb-login .login-input {
    display: block;
    width: 100%;
    height: 37px;
    margin-bottom: 20px;
    padding: 0 9px;
    color: white;
    background: #2b3e5d;
    border: 1px solid #15243b;
    border-top-color: #0d1827;
    border-radius: 4px;
    background-image: -webkit-linear-gradient(top, rgba(0, 0, 0, 0.35), rgba(0, 0, 0, 0.2) 20%, rgba(0, 0, 0, 0));
    background-image: -moz-linear-gradient(top, rgba(0, 0, 0, 0.35), rgba(0, 0, 0, 0.2) 20%, rgba(0, 0, 0, 0));
    background-image: -o-linear-gradient(top, rgba(0, 0, 0, 0.35), rgba(0, 0, 0, 0.2) 20%, rgba(0, 0, 0, 0));
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.35), rgba(0, 0, 0, 0.2) 20%, rgba(0, 0, 0, 0));
    -webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.3), 0 1px rgba(255, 255, 255, 0.2);
    box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.3), 0 1px rgba(255, 255, 255, 0.2);
}

.fb-login .login-input:focus {
    outline: 0;
    background-color: #32486d;
    -webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.3), 0 0 4px 1px rgba(255, 255, 255, 0.6);
    box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.3), 0 0 4px 1px rgba(255, 255, 255, 0.6);
}

.lt-ie9 .fb-login .login-input { line-height: 35px; }

.fb-login .login-submit {
    display: block;
    width: 100%;
    height: 37px;
    margin-bottom: 15px;
    font-size: 14px;
    font-weight: bold;
    color: #294779;
    text-align: center;
    text-shadow: 0 1px rgba(255, 255, 255, 0.3);
    background: #adcbfa;
    background-clip: padding-box;
    border: 1px solid #284473;
    border-bottom-color: #223b66;
    border-radius: 4px;
    cursor: pointer;
    background-image: -webkit-linear-gradient(top, #d0e1fe, #96b8ed);
    background-image: -moz-linear-gradient(top, #d0e1fe, #96b8ed);
    background-image: -o-linear-gradient(top, #d0e1fe, #96b8ed);
    background-image: linear-gradient(to bottom, #d0e1fe, #96b8ed);
    -webkit-box-shadow: inset 0 1px rgba(255, 255, 255, 0.5), inset 0 0 7px rgba(255, 255, 255, 0.4), 0 1px 1px rgba(0, 0, 0, 0.15);
    box-shadow: inset 0 1px rgba(255, 255, 255, 0.5), inset 0 0 7px rgba(255, 255, 255, 0.4), 0 1px 1px rgba(0, 0, 0, 0.15);
}

.fb-login .login-submit:active {
    background: #a4c2f3;
    -webkit-box-shadow: inset 0 1px 5px rgba(0, 0, 0, 0.4), 0 1px rgba(255, 255, 255, 0.1);
    box-shadow: inset 0 1px 5px rgba(0, 0, 0, 0.4), 0 1px rgba(255, 255, 255, 0.1);
}

.fb-login ::-moz-focus-inner {
    padding: 0;
    border: 0;
}

.fb-login :-moz-placeholder { color: #bcc0c8 !important; }
.fb-login ::-webkit-input-placeholder { color: #bcc0c8; }
.fb-login :-ms-input-placeholder { color: #bcc0c8 !important; }